﻿
<style>
    .k-icon.k-i-close {
        display: none !important;
    }
</style>

<br />
@(Html.Kendo().Grid<AFOC_APP.Models.PRViewModel>()
                .Name("grid")
                .Columns(columns =>
                {

                    columns.Command(command => { command.Destroy().Text("Reset"); }).Width(120);
                    columns.Bound(e => e.Master.DocID).Width(130);
                    columns.Bound(e => e.PG_Description).Width(130);
                    columns.Bound(e => e.Plant_Description).Width(130);
                    columns.Bound(e => e.REL_DATE).Width(110);
                    columns.Bound(e => e.Master.MarketListPRID).Width(110);

                })
                .Sortable()
                .Pageable()
                .Scrollable()
                .ClientDetailTemplateId("template")
                .HtmlAttributes(new { style = "height:600px;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                .Model(model =>
                {
                    model.Id(p => p.RepID);

                }

                )

                    .PageSize(18)
                    .Read(read => read.Action("HierarchyBinding_Employees", "Reset"))
                    .Destroy(destroy => destroy.Action("ReleaseRes", "Reset"))

                )
                .Events(events => events.DataBound("dataBound"))
                .Editable(ed => ed.Mode(GridEditMode.InLine).DisplayDeleteConfirmation(false))
                )

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<AFOC_APP.Models.PRViewModel2>()
        .Name("grid_#=DocID#") // template expression, to be evaluated in the master context
        .Columns(columns =>
        {
        columns.Bound(o => o.Line.MatDesc).Width(110);
        columns.Bound(o => o.Line.MaterialID).Width(150);
        columns.Bound(o => o.Line.Quantity).Width(150);//.ClientTemplate("\\#= ShipAddress \\#"); // escaped template expression, to be evaluated in the child/detail context
        columns.Bound(o => o.Line.UnitPrice).Width(300);
        columns.Bound(o => o.Line.TotalPrice).Width(300);
        columns.Bound(o => o.MAT_GRP).Width(300);
        })
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("HierarchyBinding_Orders", "Reset", new { DocID = "#=DocID#" })))
        .Pageable()
        .Sortable()
        .ToClientTemplate()
        )
</script>
<script>
    function dataBound() {
        //this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>
