﻿@{
    ViewBag.Title = "Error Page";
}

@model AFOC_APP.Models.Master



@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{
    string hidden = "";

    if (Model.SapErrorMSG == null || Model.SapErrorMSG == "")
    {
        hidden = "Hidden";
    }
    else
    {
        hidden = "";
    }

    <br />

    <div class="alert alert-danger" @hidden role="alert">
        @Model.SapErrorMSG
    </div>

}
<script type="text/javascript">
   // var cc = $("#CostCenterID");
    //alert(cc.val);
    function calculateField(data) {
        return Number(data.Quantity * data.UnitPrice).toFixed(2);
    }
    function onChange(arg) {

        $.ajax({
            type: "Get",
            url: '@Url.Action("GetMaterial", "Home")',
            data: { ID: $("#MaterialID").val() },
            dataType: "json",
            success: function (data) {
                console.log(data);
                $("#UnitPrice").val(data.UnitPrice);
                $("#Unit").val(data.UnitType);

            }
        });
    }


</script>





















